# vscode and pycharm workspace files
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
env/

# Database files
*.db

# folders
db_and_words/
a_shop_script.py
daily.py
Dibs.py
custom_memes/
logs/

# token.ini file
tokenbot.ini
