aiohttp==3.0.9
async-timeout==2.0.1
attrs==19.1.0
blis==0.2.4
cached-property==1.5.1
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
cymem==2.0.2
dataclasses==0.6
dblapi==0.1.4b0
dblpy==0.2
discord.pyaio==0.16.12
diskcache==3.1.1
google-api-core==1.10.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==0.29.1
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
httplib2==0.12.3
idna==2.8
idna-ssl==1.1.0
inflection==0.3.1
jsonschema==2.6.0
more-itertools==7.0.0
multidict==4.5.2
murmurhash==1.0.2
numpy==1.16.3
oauth2-client==1.1.0
oauth2client==4.1.3
ordered-set==3.1.1
ordered-set-stubs==0.1.3
Pillow==6.0.0
plac==0.9.6
poetry-version==0.1.3
preshed==2.0.1
profanityfilter==2.0.6
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydantic==0.21
PyDrive==1.3.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
ratelimiter==1.2.0.post0
redis==3.2.1
requests==2.21.0
rsa==4.0
ruamel.yaml==0.15.94
six==1.12.0
spacy==2.1.3
srsly==0.0.5
thinc==7.0.4
tomlkit==0.5.3
tqdm==4.31.1
uritemplate==3.0.0
urllib3==1.24.2
wasabi==0.2.1
websockets==7.0
yarl==1.3.0
